<!DOCTYPE html>
<html>
  <%-include partials/head.ejs%>
  <body>
    <h1>Transaksi Valet</h1>
    <table border='2px'>
      <thead>
        <tr>
          <th>Plat Nomor</th>
          <th>Jam Masuk</th>
          <th>Jam Keluar </th>
          <th>Durasi  </th>
          <th>Harga </th>
        </tr>
      </thead>
      <tbody>
        <%dataTransaksi.forEach( rows => {
          let masuk= new Date(rows.jam_masuk)
          let keluar= new Date(rows.jam_keluar)
          let durasi;
          if(rows.jam_keluar!== null){
            let hitung = Math.round((keluar - masuk)/1000/60)
            durasi = Math.ceil(hitung/60)
          }else{
            durasi=0
          }
          let harga= durasi*5000
          %>
          <tr>
            <td class="text-center">
              <%=rows.no_plat%>
            </td>
            <td class="text-center">
              <%=rows.jam_masuk%>
            </td>
            <td class="text-center">
              <%=rows.jam_keluar%>
            </td>
            <td class="text-center">
              <%-durasi%> jam
            </td>
            <td class="text-center">
              <%-harga%>
            </td>
            <td> </td>
          </tr>
            <% })%>
      </tbody>
    </table>
  </body>
  <%-include partials/footer.ejs%>
</html>
